HelloClient/Service References/RemoteHelloReference/HelloServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelloServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelloServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TripleOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" name="I1" type="xs:int" />
      <xs:element minOccurs="0" name="I2" type="xs:int" />
      <xs:element minOccurs="0" name="I3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripleOfInt" nillable="true" type="tns:TripleOfInt" />
</xs:schema>